.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 5px;
}

.grid .item{
    border: 1px solid var(--grey);
    padding: 20px;
    border-radius: .4rem;
    cursor: pointer;
}

.grid .item h1{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid .item p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid .item p span{
    font-size: 15px;
    font-weight: 600;
}

@media (max-width: 760px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}