.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 5px;
}

.grid .item{
    border: 1px solid var(--grey);
    padding: 20px;
    border-radius: .4rem;
    cursor: pointer;
}

.grid .item h1{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid .item p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid .item p span{
    font-size: 15px;
    font-weight: 600;
}

.grid-2{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5px;
    margin: 10px 0;
}

.grid-2 .item-1{
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: .4rem;
}


.item-1 h3{
    font-size: x-large;
    margin: 5px 0;
}
.item-1 h1{
    font-size: x-large;
}
.cercle{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding: 5px;
    border-radius: .7rem;
    background-color: var(--red);
}
.cercle .path{
    display: block;
    padding: 5px;
    height: 100%;
    border-radius: .4rem;
    background-color: var(--white);
}


@media (max-width: 1000px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}

table.table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--grey);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: 700;
    padding: 5px;
    margin: 10px 0;
}

.table thead{
    text-align: left;
    font-size: x-large;
}

.table,
.table thead th,
.table tbody tr td{
    border: 1px solid var(--grey);
    padding: 10px;
}

.table tbody tr{
    padding: 10px;
}


/* New style */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--red);
    color: #ffffff;
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}